<form method="POST" action="/new">
  <h3>Sign Up</h3>
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="nameMessage" placeholder="Ahmed ..">
  </div>
  <div>
    <label for="text">text</label>
    <input type="text" id="text" name="textMessage" placeholder="bla bla bla">
  </div>
  <div class="btns">
    <button type="submit">submit</button>
    <button type="reset">Reset</button>
  </div>
</form>