<!--loop throw messages-->
<html>

<head>
  <title>Home Page</title>
  <meta charset="UTF-8">
  <link rel="icon" href="/public/images/logo.png" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
</head>

<body>

  <div class="header">
    <div class="title">
      Mini <span style="color: #007bff;">message</span> App
    </div>
    <div class="btns">
      <div class="btn">
        <a href="/new">New message </a>
      </div>
      <div class="btn">
        <a href="/delete">Delete</a>
      </div>
    </div>

  </div>
  <div class="container">
    <% messages.forEach((message)=>{ %>
      <div class="user">
        <p><b>Name:</b>
          <%= message.username %>
        </p>
        <p><b>Message:</b>
          <%= message.text %>
        </p>
        <p><b>date:</b>
          <%= message.date %>
        </p>
      </div>
      <% }) %>
  </div>


</body>

</html>